@media screen and (max-width: 1450px) {
  .project-about-containers article {
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1410px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #portfolio {
    height: fit-content;
  }
}

@media screen and (max-width: 1205px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #skills,
  .skills-details-container {
    margin-top: 2rem;
  }
  .about-details-container {
    margin-top: 1rem;
    align-self: center;
    width: 80%;
    max-width: 80%;
  }
  .main-about-pic {
    display: none;
    height: 1px;
    width: 1px;
  }
  #profile {
    position: static;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow,
  .arrow-up {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
    align-self: center;
  }
  .section-container {
    padding-top: 2rem;
    gap: 1rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
  }
  #profile-pic-upper-container {
    margin: 0 auto 1rem;
  }
  .section__pic-container-relative {
    display: flex;
    height: 275px;
    width: 275px;
    margin: auto 0;
    flex-direction: row;
    position: relative;
  }
  .section__pic-container-relative img {
    height: 275px;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
  }
  .about-pic {
    width: 100%;
  }
  .about-pic-container {
    height: 350px;
    width: 350px;
  }
  .about-containers {
    margin-top: 0;
  }

  #gallery {
    position: static;
    height: fit-content;
    align-items: center;
  }

  .gallery-container {
    margin-top: 1rem;
    width: 85%;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 8%;
    margin-bottom: 1rem;
  }

  .project-pic-container {
    height: 400px;
    width: 400px;
  }
  #features {
    margin-top: 2rem;
    align-items: center;
  }

  .about-text {
    --max-lines: 3;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
  }

  .expand-button {
    display: flex;
    height: auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 690px) {
  #profile #contact {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
    margin: 0.5rem;
  }
  .contact-info-container p a {
    font-size: 1.2rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1.2rem;
  }
  .skills-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    gap: 1rem;
    text-align: center;
    flex-direction: column;
  }
  .nav-links-container {
    display: flex;
  }
  .section__pic-container {
    width: auto;
    height: 30vh;
    justify-content: center;
  }
  .section__pic-container-relative {
    height: 30vh;
    margin: auto 0;
    width: 30vh;
  }
  .section__pic-container-relative img {
    height: 30vh;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    word-spacing: normal;
  }
  .contact-info-upper-container {
    flex-direction: column;
    align-items: start;
    padding: 0.5rem;
    width: fit-content;
    align-self: center;
    margin: 1rem;
    font-size: smaller;
  }
  .contact-div {
    height: auto;
    margin: 2rem;
  }
  #contact {
    position: static;
    height: 70%;
  }

  .nav-links-container {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }

  .about-pic-container {
    height: 80%;
    width: 80%;
  }
  .about-containers {
    margin-top: 0;
  }
  .about-details-container {
    width: 80%;
  }
}

@media screen and (max-width: 682px) {
  .article-container {
    gap: 0.7rem;
  }
  article {
    width: 8rem;
    gap: 0.7rem;
  }
  article h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 513px) {
  .article-container {
    gap: 0.6rem;
  }
  article {
    width: 7rem;
    gap: 0.6rem;
  }
  article h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 460px) {
  .article-container {
    gap: 0.5rem;
  }
  article {
    width: 6rem;
    gap: 0.5rem;
  }
  article h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  #contact {
    height: 20%rem;
  }
  footer {
    height: 18rem;
    gap: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .contact-info-upper-container {
    align-content: center;
  }
  .contact-info-container p a {
    font-size: 1rem;
  }
  .contact-info-container {
    flex-direction: column;
    align-self: center;
  }
  .contact-icon {
    height: 1.8rem;
  }
}
